<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="home.css" />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    rel="stylesheet"
  />
  <title>Hire&Go</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="name">
        <h1>Hire&Go</h1>
      </div>
      <div class="navbar">
        <nav>
          <div class="btn">
            <i class="fa fa-times close-btn"></i>
          </div>
          <li><a href="#start-section"class="active">Home</a></li>
          <li><a href="#services-section">Services</a></li>
          <li><a href="#about-section">About Us</a></li>
          <li><a href="#contact-section">Contact Us</a></li>
        </nav> 
        <img src="images\people.png" class="people">
        <div class="btn">
         <i class="fa fa-bars menu-btn"></i>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="content">
        <h2>Elevate your hiring<br>process now!</h2>
        <a href="registrationform.html" class="buttonLetsStart">Get Started></a>
      </div>
    </div>
    <div class="scrollPage">
       <div class="line2"></div>
       <div id="services-section">
        <h2>Our Services</h2>
        <p>Here is a list of services we offer...</p>
      <div class="line3"></div>
      <div id="about-section">
        <h2>About Us</h2>
        <p>About us you have to know...</p>
      <div class="line4"></div>
      <div id="contact-section">
        <h2>Contact Us</h2>
        <p>You can contact us by...</p>
      <div class="line5"></div>
    </div>
  </div>
  </section>
  <script src="script.js"></script>
</body>
</html>
