<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/home.css" />
  <title>Hire&Go</title>

</head>
<body>
   <selection> 
    <div class="container">
    <div id="start-section">
      <h1>Hire&Go</h1>
      <nav>
        <ul>
            <li><a href="#start-section"class="active">Home</a></li>
            <li><a href="#services-section">Services</a></li>
            <li><a href="#about-section">About Us</a></li>
            <li><a href="#contact-section">Contact Us</a></li>
        </ul>
      </nav>
      <img src="/images/job.png" class="job">
      <div class="article">
        <p>Elevate your hiring<br>process now!</p>
      </div>
        <a href="registrationform.html" class="buttonLetsStart">Get Started></a>
    </div>
    <div class="line"></div> 
    <div class="scrollPage">
      <h2>Together we can help you:</h1>
      <img src="/images/clock.png" class="clock">
      <img src="/images/puzzle.png" class="puzzle">
      <img src="/images/people.png" class="people">
      <div class="text1">
       <p>Save time while selecting the most<br>suitable applicant for the position</p>
      </div>
       <div class="text2">
       <p>Find the perfect match<br>for your company </p>
      </div>
      <div class="text3">
        <p>Manage a large variety of<br>CVs and applications</p>
       </div>
       <div class="line2"></div>
       <div id="services-section">
        <h2>Our Services</h2>
        <p>Here is a list of services we offer...</p>
      <div class="line3"></div>
      <div id="about-section">
        <h2>About Us</h2>
        <p>About us you have to know...</p>
      <div class="line4"></div>
      <div id="contact-section">
        <h2>Contact Us</h2>
        <p>You can contact us by...</p>
      <div class="line5"></div>
    </div>
    
  </div>
   </selection>
</body>
</html>