<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/home.css" />
  <title>Hire&Go</title>

</head>
<body>
   <selection> 
    <div class="container">
    <div id="start-section">
      <h1>Hire&Go</h1>
      <nav>
        <ul>
            <li><a href="#start-section"class="active">Home</a></li>
            <li><a href="#services-section">Services</a></li>
            <li><a href="#about-section">About Us</a></li>
            <li><a href="#contact-section">Contact Us</a></li>
        </ul>
      </nav>
      <img src="/images/job.png" class="job">
      <div class="article">
        <p>Elevate your hiring<br>process now!</p>
      </div>
        <a href="registrationform.html" class="buttonLetsStart">Get Started></a>
    </div>
    <div class="line"></div> 
    <div class="scrollPage">
      <h2>Together we can help you:</h1>
      <img src="/images/clock.png" class="clock">
      <img src="/images/puzzle.png" class="puzzle">
      <img src="/images/people.png" class="people">
      <div class="text1">
       <p>Save time while selecting the most suitable applicant for the position</p>
      </div>
       <div class="text2">
       <p>Find the perfect match for your company </p>
      </div>
      <div class="text3">
        <p>Manage a large variety of CVs and applications</p>
       </div>
       <div class="line2"></div>
       <div id="services-section">
        <h2>Our Services</h2>
          <div class="service-container">
            <div class="service">
              <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fpuzzle%2520piece&psig=AOvVaw10FyS0Auy3M7YKchWGX-6g&ust=1736881379224000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLC-ucWx84oDFQAAAAAdAAAAABAE" alt="Job Candidate Matching">
              <div>
                <h4>Job Candidate Matching</h4>
                <p>Use AI-driven tools to match job descriptions with the most appropriate candidates for the position.</p>
              </div>
            </div>
            <div class="service">
              <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Fso%2Fevaluation&psig=AOvVaw0AwT84-Nt-nZ8Md4ZCBk7z&ust=1736881932433000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPjm4saz84oDFQAAAAAdAAAAABAE" alt="CV Evaluation">
              <div>
                <h4>Customizable CV Evaluation</h4>
                <p>Filter candidates efficiently based on your needs.</p>
              </div>
            </div>
            <div class="service">
              <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffree-png-vectors%2Fcandidate&psig=AOvVaw1rKWEuaEt8T4600JWxjKQ-&ust=1736881723164000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCIjF3eWy84oDFQAAAAAdAAAAABAE" alt="Ranked Candidate">
              <div>
                <h4>Ranked Candidate Sortlisting</h4>
                <p>Offer a sorting list of all candidates from most suitable to least based on the position and the job description provided. </p>
              </div>
            </div>
            <div class="service">
              <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffree-png-vectors%2Fevaluation-clipart&psig=AOvVaw3IHsy8lMS_shJdko9yxCYG&ust=1736881821919000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMibxpSz84oDFQAAAAAdAAAAABAE" alt="CV Summaries">
              <div>
                <h4>CV Summaries</h4>
                <p>Summaries on each candidate's CV provided for better undestanding and evaluation.</p>
              </div>
            </div>
          </div>
          <div class="line3"></div>
        </div>
      <div class="line3"></div>
      <div id="about-section">
        <h2>About Us</h2>
        <p>At Hire&Go, our mission is to make the hiring process easier, faster, more effective and most importantly help you find the right personel for your company!</p>
        <p>We undestand that finding the perfect candidate for any given job position may be time consuming, stressful and difficult. That's why we have designed this platform that simplifies the hiring process for any type of company. </p>
        <p> Our ultimate goal is to help companies build their dream teams and communities inside the work place. </p>
        <p> Join us in transforming hiring into an effortless yet impactful experience!</p>
        <div class="about-image-container">
          <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.bitesizelearning.co.uk%2Fresources%2Ffive-dysfunctions-of-a-team-summary-pyramid&psig=AOvVaw0R_uQAd0Ekh4c5RmCsL5ja&ust=1736876161074000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKDwl4ye84oDFQAAAAAdAAAAABAE" alt="About Hire&Go" class="responsive-image">
        </div>
      <div class="line4"></div>
      <div id="contact-section">
        <h2>Contact Us</h2>
        <h4> We are always here for you, let us know if you have any questions!</h4>
        <p>Email: hireandgo7@gmail.com </p> 
      <div class="line5"></div>
    </div>
    
  </div>
   </selection>
</body>
</html>