<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <!--<link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
  -->
  <title>Hire&Go</title>

</head>
<body>
   <selection> 
    <div class="container">
      <nav>
        <h1>Hire&Go</h1>
        <img src="images/logo.png" class="logo">
        <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
      </nav>
      <div class="article">
        <h1>Welcome to Hire&Go</h1>
        <p>Hiring has never been better and easier!</p>
        <a href="buttonLetsStart" class="buttonLetsStart">Lets Start</a>
        <img src="images/biglogo.png" class="biglogo">
      </div>
    </div>
   </selection>
</body>
</html>
