<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Candidate Ranking Results</title>
</head>
   <h1> Hire&Go</h1>

<!--Χρήση STYLE αντί για CSS για συγκέντρωση κώδικα-->

       <table id="rankingTable">
           <caption>Ranking Results</caption>
           <thead>
               <tr>
                   <th>File</th>
                   <th>Resume Summary</th>
               </tr>
           </thead>
           <tbody >
               <tr th:each="file, iterStat : ${items}">
                   <td th:text="${file.get('resume')}"></td>
                   <td th:text="${file.get('resumeSummary')}"></td>
               </tr>
           </tbody>
       </table>

       <!--Δημιουργία Πίνακα που αλλάζει μέγεθος με βάση τα δεδομένα του κάθε κελιού-->

       <script>
           function adjustTableCorners() {
            const table = document.getElementById('rankingTable');
               table.style.borderRadius = "10px";
               const cells = table.querySelectorAll('th,td');
               cells.forEach(cell => {
                   cell.style.minWidth = "100px";
                   cell.style.height = "auto";
               });
           }
           adjustTableCorners();
       </script>
</body>
</html>


 

