<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Hire&Go Registration Form</title>
    <link rel="stylesheet" href="/css/registration.css" />
  </head>
  <body>
    <h1>Hire&Go</h1>

    <form th:action="@{/registrationform}" th:object="${User}" method="post" enctype="multipart/form-data">

        <fieldset>
            <p>Company's Information</p>
            <label for="name">Company's Name<input id="name" name="name" type="text" required /></label>
            <label for="field">Company's Field<input id="field" name="field" type="text" required /></label>
            <label for="email">User's Email<input id="email" name="email" type="email" required /></label>
        </fieldset>

        <fieldset>
            <p>Job Position's Requirements</p>
            <label for="hardSkills">Hard Skills<input id="hardSkills" name="hardSkills" type="text" required/></label>
            <label for="softSkills">Soft Skills<input id="softSkills" name="softSkills" type="text" required/></label>
            <label for="otherTraits">Other Traits<input id="otherTraits" name="otherTraits" type="text"/></label>
        </fieldset>

        <fieldset>
            <p>Upload all CVs here!</p>
            <label for="files">Upload CVs:<input id="files" name="files" type="file" multiple /></label>
        </fieldset>
        
        <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
